<nav class="navbar navbar-expand-lg navbar-light bg-light toolbar" role="banner">
  <a class="navbar-brand" href="#">
    <img
    width="40"
    alt="Github Logo"
    src="/assets/github.png"
  />
  <span>Github Users Dashboard</span>
    <div class="spacer"></div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/search']">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/history']">History</a>
      </li>
    </ul>
  </div>
</nav>